<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragmento/frag :: head">
    
    </head>
    <body>
    <div class="dashboard">
        <div class="margen" th:replace="fragmento/frag :: navbar">
        </div>
        <!-- contenido -->
        <div class="container my-3 content">
            <div class="card mb-5">
                <h1 class="m-3">Usuarios-Empleados</h1>
                <div class="card-body">
                    <!-- <form action="" method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="Nombre">Ingrese un nombre</label>
                                <input type="text" class="form-control" id="Nombre" placeholder="Ingrese su nombre">
                            </div>
                            <div class="col-sm-6">
                                <label for="Apellido">Ingrese apellido</label>
                                <input type="text" class="form-control" id="Apellido" placeholder="Ingrese apellido">
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-sm-3">
                                <label for="fecha">Ingrese nacimiento</label>
                                <input type="date" class="form-control" id="fecha" placeholder="Nacimiento">
                            </div>
                            <div class="col-sm-3">
                                <label for="documento">Ingrese DNI</label>
                                <input type="text" id="documento" class="form-control" placeholder="Ingrese DNI">
                            </div>
                            <div class="col-sm-6">
                                <label for="telefono">telefono</label>
                                <input type="text" id="telefono" class="form-control" placeholder="ingrese telefono">
                            </div>
                            <div class="row w-25 mx-auto">
                                <button class="btn btn-danger" type="submit">Ingresar datos</button>
                            </div>    
                        </div>    
                    </form> -->
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover text-center">
                        <thead class="table-dark">
                            <tr>
                                <td>Nombre</td>
                                <td>apellido</td>
                                <td>correo</td>
                                <td>users</td>
                                <td>password</td>
                                <td>rol</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${ListaUsuarios}">
                                <td th:text="${item.nombres}"></td>
                                <td th:text="${item.apellidos}"></td>
                                <td th:text="${item.username}"></td>
                                <td th:text="${item.correo}"></td>
                                <td th:text="${item.password}"></td>
                                <td th:each="item1 : ${item.rol}">
                                    <span th:text="${item1.authority}" ></span> </td>
                                <td>
                                    <a class="btn btn-warning">
                                        <i class="fa-solid fa-pen-to-square fs-2">
                                    </i></a>
                                </td>
                                <td>
                                    <a class="btn btn-danger">
                                        <i class="fa-solid fa-square-minus fs-2">
                                    </i></a></td>
                            </tr>
                        </tbody>
                        <tbody id="resultAPI">

                        </tbody>
                    </table>
                    <div class="app"></div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script type="text/javascript">
        const apps=document.querySelector('#app');
        var i=0;
        var URL="http://localhost:8080";
        fetch('http://localhost:8080/usuariolist').
            then(res=> res.json()).
            then(data =>{
                console.log(data);
                data.forEach(usuarios =>{
                let API=document.getElementById("resultAPI");
                // console.log(usuarios.nombres+"----"+usuarios.correo+"---"+usuarios.rol[0].authority);
                    API.innerHTML +="<tr><td>"
                        +usuarios.nombres+
                        "<td/>"+usuarios.apellidos+
                        "<td/>"+usuarios.correo+
                        "<td></tr>";
                })
            })
    
    </script>
</html>
