<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSTA ANITA</title>
    <link rel="stylesheet" th:href="@{CSS/style.css}">
    <script src="https://kit.fontawesome.com/abfa0b2316.js" crossorigin="anonymous"></script>
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js" integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="dashboard"> 
        <div class="margen" th:fragment="navbar">
            <div class="superior">
                <h1 class="sidebar-tittle"><i class="fa-solid fa-briefcase-medical"></i><span class="navs">Hola<span></h1>
            </div>
            <div class="nav">
                <ul>
                    <li><a href=""><i class="fas fa-user"></i><span class="navs">cliente</span></a></li>
                    <li><a href=""><i class="fas fa-user"></i><span class="navs">proveedor</span></a></li>
                    <li><a href=""><i class="fas fa-user"></i><span class="navs">Areas</span></a></li>
                    <li><a href=""><i class="fas fa-user"></i><span class="navs">Doctor</span></a></li>
                    <li><a th:href="@{/usuarios}"><i class="fas fa-user"></i><span class="navs">Gestion</span></a></li>
                    <li><a href=""><i class="fas fa-user"></i><span class="navs">herramienta</span></a></li>
                    <li><a href=""><i class="fas fa-user"></i><span class="navs">citas</span></a></li>
                </ul>
            </div>
            <div class="footer" sec:authorize="isAuthenticated()">
                <a href=""><i class="fa-solid fa-address-card"></i>PERFIL</a>
                <span  th:text="${afirmar}"></span>
                <h5>Rango: 
                    <span sec:authentication="principal.authorities"></span>
                </h5>
                <h5>Nombre: 
                    <span th:text ="${#authentication.name}"></span>
                    <span sec:authentication="principal.Nombres"></span>
                </h5>
                <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>SALIR
                    </button>
                </form>
            </div>
        </div>
        <!-- contenido -->
        <!--<div class="container my-3">
            <div class="card">
                <h1 class="m-3">Cliente</h1>
                <div class="card-body">
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="Nombre">Ingrese un nombre</label>
                                <input type="text" class="form-control" id="Nombre" placeholder="Ingrese su nombre">
                            </div>
                            <div class="col-sm-6">
                                <label for="Apellido">Ingrese apellido</label>
                                <input type="text" class="form-control" id="Apellido" placeholder="Ingrese apellido">
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-sm-3">
                                <label for="fecha">Ingrese nacimiento</label>
                                <input type="date" class="form-control" id="fecha" placeholder="Nacimiento">
                            </div>
                            <div class="col-sm-3">
                                <label for="documento">Ingrese DNI</label>
                                <input type="text" id="documento" class="form-control" placeholder="Ingrese DNI">
                            </div>
                            <div class="col-sm-6">
                                <label for="telefono">telefono</label>
                                <input type="text" id="telefono" class="form-control" placeholder="ingrese telefono">
                            </div>
                            <div class="row mt-5 w-25 mx-auto">
                                <button class="btn btn-danger" type="submit">Ingresar datos</button>
                            </div>    
                        </div>    
                    </form>
                </div>
            </div>
        </div>-->
    </div>
</body>
</html>